p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#shouldBeClipped {
    width: 50px;
}

.assistive,
form.aui legend.assistive {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
