---
component: AUI Label
analytics:
  pageCategory: component
  component: label
  componentApiType: web-component
status:
  api: experimental
  core: false
  wrm: com.atlassian.auiplugin:aui-label
  amd: false
  experimentalSince: 5.9
---

<h2>Summary</h2>

<p>AUI provides a wrapper around the native <code>label</code> element for use with other AUI components.</p>

<p>An AUI label should be used with the following components <b>only</b>:</p>

<ul>
    <li><a href="{{rootPath}}docs/toggle-button.html">Toggle button</a></li>
</ul>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<article class="aui-flatpack-example">
    <p>
        <aui-label for="my-toggle">Click here to toggle</aui-label>
        <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
    </p>
</article>

<h2>Code</h2>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-label for="my-toggle">Click here to toggle</aui-label>
        <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
    </noscript>
</aui-docs-example>

<h2>API Reference</h2>
<h3 id="attributes">Attributes and properties</h3>

<p>Attributes can optionally be set on the <code>aui-label</code> element.</p>

<table class="aui">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>for</code> <span class="aui-lozenge aui-lozenge-current">required</span></td>
        <td>String</td>
        <td>The id of the element that the AUI label is bound to.</td>
    </tr>
    <tr>
        <td><code>form</code></td>
        <td>String</td>
        <td>The id of the <code>form</code> element that the AUI label is associated with. See the <a href="https://html.spec.whatwg.org/#association-of-controls-and-forms">HTML5 spec</a> for more details.</td>
    </tr>
    </tbody>
</table>
