---
component: Helper functions
analytics:
  pageCategory: component
  component: helpers
---

<section class="aui-page-panel-content">
    <table id="auidocs-helper-functions-table" class="aui aui-table-sortable tablesorter tablesorter-default">
        <thead>
        <tr class="tablesorter-headerRow">
            <th class="function-name-header">Function</th>
            <th class="function-description-header aui-table-column-unsortable">Description</th>
            <th class="function-available-header tablesorter-header">Available since</th>
            <th class="function-example-header aui-table-column-unsortable">Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="function">contextPath</td>
            <td class="function-description">
                <p>
                    The AJS.contextPath() function returns the "path" to the application, which is needed when creating
                    absolute urls within the application.
                </p>
            </td>
            <td>3.5.5</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    var url = AJS.contextPath() + "/rest/some/resource";
                    url = AJS.contextPath() + "/dashboard.action";
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">dim</td>
            <td class="function-description">
                <p>Blanket management.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.dim();
                    setTimeout(function () { AJS.undim(); }, 1000);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">undim</td>
            <td class="function-description">
                <p>Blanket management.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                   AJS.dim();
                   setTimeout(function () { AJS.undim(); }, 1000);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">format</td>
            <td class="function-description">
                <p>Provides an easy way to substitute parameters into a string.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    console.log(
                        AJS.format("This is a {0} test of {1}", "simple", "message format")
                    );
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">I18n</td>
            <td class="function-description">
                <p>I18n keys.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // Possible, but AJS.I18n.getText is recommended
                    console.log(
                        AJS.I18n.keys['aui.toggle.on']
                    );

                    // Gets the i18n value
                    console.log(
                        AJS.I18n.getText('aui.toggle.on')
                    );

                    // Returns the key
                    console.log(
                        AJS.I18n.getText('aui.key.that.does.not.exist')
                    );

                    // If there are keys that have {0} params in them, AJS formatting can apply
                    // Note: don't modify existing entries in AJS.I18N.keys directly, this is
                    // done for demonstration purposes
                    AJS.I18n.keys['aui.test'] = 'this is a {0} test';

                    console.log(
                        AJS.I18n.getText('aui.test', 'formatting')
                    );
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">messages</td>
            <td class="function-description">
                <p>Messages creation.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.messages.generic({
                        title: 'This is a title in a default message.',
                        body: '<p> And this is just content in a Default message.</p>'
                    });
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">navigation</td>
            <td class="function-description">
                <p>Used for manipulating navigation. Used in the header, and in the sidebar such as expanding and collapsing.</p>
            </td>
            <td>5.6.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    console.log(AJS.navigation('#sidebar-nav').isCollapsed());
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">params</td>
            <td class="function-description">
                <p>Takes meta tags from the page and populates an object with them.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.populateParameters();
                    console.log(AJS.params);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">populateParameters</td>
            <td class="function-description">
                <p>Takes meta tags from the page and populates an object with them.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                   AJS.populateParameters();
                   console.log(AJS.params);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">whenIType</td>
            <td class="function-description">
                <p>Keyboard shortcuts library.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.whenIType('ze').execute(function () {
                        alert('I have executed.');
                    });
                    AJS.whenIType('c').click('#create');
                    AJS.whenIType('gh').or('gd').goTo('http://example.com/');
                    AJS.whenIType('n').moveToNextItem('.selector');
                    AJS.whenIType('p').moveToPrevItem('.selector');
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">version</td>
            <td class="function-description">
                <p>Returns the version of AUI.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    console.log(AJS.version);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">$</td>
            <td class="function-description">
                <p>jQuery.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    console.log(AJS.$.fn.jquery);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">banner</td>
            <td class="function-description">
                <p>Creates a banner for the top of the page.</p>
            </td>
            <td>5.9.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.banner({
                        body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.'
                    });
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">dialog2</td>
            <td class="function-description">
                <p>Constructor for dialog 2.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // Shows the dialog when the "Show dialog" button is clicked
                    AJS.$("#dialog-show-button").click(function() {
                        AJS.dialog2("#demo-dialog").show();
                    });

                    // Hides the dialog
                    AJS.$("#dialog-close-button").click(function(e) {
                        e.preventDefault();
                        AJS.dialog2("#demo-dialog").hide();
                    });

                    // Show event - this is triggered when the dialog is shown
                    AJS.dialog2("#demo-dialog").on("show", function() {
                        console.log("demo-dialog was shown");
                    });

                    // Hide event - this is triggered when the dialog is hidden
                    AJS.dialog2("#demo-dialog").on("hide", function() {
                        console.log("demo-dialog was hidden");
                    });

                    // Global show event - this is triggered when any dialog is show
                    AJS.dialog2.on("show", function() {
                        console.log("a dialog was shown");
                    });

                    // Global hide event - this is triggered when any dialog is hidden
                    AJS.dialog2.on("hide", function() {
                        console.log("a dialog was hidden");
                    });
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">flag</td>
            <td class="function-description">
                <p>Creates a flag.</p>
            </td>
            <td>5.7.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    var myFlag = AJS.flag({
                        type: 'info',
                        title: 'Issue ADG-745 has been created.',
                        body: '<ul class="aui-nav-actions-list">' +
                            '<li><a href="#">View issue</a></li>' +
                            '<li><a href="#">Add to sprint</a></li>' +
                        '</ul>'
                    });
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">formValidation</td>
            <td class="function-description">
                <p>Utilities for doing form validation.</p>
            </td>
            <td>5.9.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // Register a plugin validator that ensures an input field must start with a certain sequence of characters.
                    AJS.formValidation.register(['startswith'], function(field) {
                        if (field.el.value.indexOf(field.args('startswith')) !== 0){
                            field.invalidate(AJS.format('Input must start with {0}', field.args('startswith')));
                        } else {
                            field.validate();
                        }
                    });
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">progressBars</td>
            <td class="function-description">
                <p>Utility for handling progress indicators.</p>
            </td>
            <td>5.9.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.progressBars.update("#some-id", 0.2);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">select</td>
            <td class="function-description">
                <p>Constructor for <aui-docs-component>aui-select</aui-docs-component>. To move to AJS.element.</p>
            </td>
            <td>5.8.0</td>
            <td class="function-example">
                See the <a href="{{rootPath}}docs/single-select.html">single select API documentation</a>.
            </td>
        </tr>
        <tr>
            <td class="function">sidebar</td>
            <td class="function-description">
                <p>Constructor for the sidebar element.</p>
            </td>
            <td>5.6.0</td>
            <td class="function-example">
                See the <a href="{{rootPath}}docs/sidebar.html">sidebar API documentation</a>.
            </td>
        </tr>
        <tr>
            <td class="function">tablessortable</td>
            <td class="function-description">
                <p>Sortable table utility functions.</p>
            </td>
            <td>5.6.0</td>
            <td class="function-example">
                See the <a href="{{rootPath}}docs/sortable-table.html">sortable table API documentation</a>.
            </td>
        </tr>
        <tr>
            <td class="function">Cookie <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Store values in a persistent cookie without worrying about the application using too many cookies.</p>
            </td>
            <td>3.5.5</td>
            <td class="function-example">
               <noscript is="aui-docs-code" type="text/js">
                   // Save a value to the conglomerate cookie
                   AJS.Cookie.save("COOKIES_ARE_COOL", "true");

                   // Save will also update a value previously saved
                   AJS.Cookie.save("COOKIES_ARE_COOL", "not true");

                   // retrieve a value from the conglomerate cookie
                   AJS.Cookie.read("COOKIES_ARE_COOL");

                   // remove a value from the conglomerate cookie
                   AJS.Cookie.erase("COOKIES_ARE_COOL");
               </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounce</td>
            <td class="function-description">
                <p>Ensure that a constantly firing function doesn't cause performance issues.</p>
                <p>Don't use when binding to an infrequently firing event.</p>
            </td>
            <td>5.1</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    function myFunction() {
                        //function code
                    }

                    // This function won't fire if it has been less than 300ms before the last call
                    var myDebouncedFunction = AJS.debounce(myFunction, 300);
                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounceImmediate</td>
            <td class="function-description">
                <p>Like <code>debounce()</code>, makes sure that a constantly firing function doesn't cause
                    performance issues, but fires at the start rather than at the end of the wait period.</p>
                <p>Don't use when binding to an infrequently firing event.</p>
            </td>
            <td>5.9</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/html" lang="js">
                    function myFunction(){
                        //function code}
                    // This function fires immediately and will not fire again until the last call passes 300ms
                    var myDebouncedFunction = AJS.debounceImmediate(myFunction, 300);
                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">escapeHTML</td>
            <td class="function-description">
                <p>The AJS.escapeHtml() performs html-safe escaping of the input string. Specifically, it encodes:</p>
                <ul>
                    <li>&lt;</li>
                    <li>&gt;</li>
                    <li>&amp;</li>
                    <li>'</li>
                    <li>"</li>
                </ul>
            </td>
            <td>4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    var url = "\u005C\u003E\u003Cscript\u003Ealert(\u0027XSS\u0027)\u003B\u003C/script\u003E";

                    // BAD: XSS problem
                    $("#mydiv").html(url);

                    // GOOD
                    $("#mydiv").html(AJS.escapeHtml(url));
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">format</td>
            <td class="function-description">
                <p>Provides an easy way to substitute parameters into a string.</p>
            </td>
            <td>1.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.format("Have a {0} day", "good"); /* Have a good day */
                    AJS.format("Have a '{0}' day", "good"); /* Have a '{0}' day */
                    AJS.format("Have a ''{0}'' {1}", "good", "Monday"); /* Have a 'good' Monday */
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">I18n.getText</td>
            <td class="function-description">
                <p>
                    AUI includes a web resource transformer that will translate some javascript into the literal strings
                    before being served.
                </p>
            </td>
            <td>3.5.5</td>
            <td class="function-example"></td>
        </tr>
        <tr>
            <td class="function">isDirty</td>
            <td class="function-description">
                <p>Make sure users cannot accidentally lose data.</p>
            </td>
            <td>2.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">AJS.$("formname=jiraform").isDirty();</noscript>
            </td>
        </tr>
        <tr>
            <td class="function">log</td>
            <td class="function-description">
                <p>
                    A safe alternative to <code>console.log()</code>. It ensures that both console and the <code>console.log</code> method exist
                    before executing. This means if you happen to leave one in your code, browsers which don't support
                    <code>console.log</code> (eg. IE, some mobile browsers) shouldn't break.
                </p>
            </td>
            <td>1.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">AJS.log("Your message here.");</noscript>
            </td>
        </tr>
        <tr>
            <td class="function">version</td>
            <td class="function-description">
                <p>Detects the version of AUI on the current page.</p>
            </td>
            <td>1.2</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // for peace-of-mind checking
                    AJS.log(AJS.version); // "3.0"
                    // To use it in all its glory
                    if (AJS.version == "3.0") {
                    // take advantage of the awesomeness of AUI 3.0
                    } else {
                    // write awesome custom code
                    }
                </noscript>
            </td>
        </tr>
        </tbody>
    </table>
</section>
