---
component: Layout
analytics:
  pageCategory: component
  component: layout
design: https://design.atlassian.com/latest/product/foundations/layout/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-page-layout
  amd: false
  experimentalSince: 3.6
  generalSince: 5.1
---

<h2>Summary</h2>
<p>Layout is a generic layout system, allowing you to quickly and easily set up columns as required.</p>
<p>Note there is a dedicated Page Content Layout system for the overall page content, which must be used in one specific place. Layout is not restricted to any use case and can be placed anywhere you need columns, including inside Content Layout.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<div class="aui-flatpack-example layout-example">
    <div class="aui-group">
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
    </div>
    <div class="aui-group aui-group-split">
        <div class="aui-item">
            <p>Split group - first item aligned left.</p>
        </div>
        <div class="aui-item">
            <p>Split group - second item aligned right.</p>
        </div>
    </div>
    <div class="aui-group aui-group-trio">
        <div class="aui-item">
            <p>Trio group - first item aligned left.</p>
        </div>
        <div class="aui-item">
            <p>Trio group - second item aligned centre.</p>
        </div>
        <div class="aui-item">
            <p>Trio group - third item aligned right.</p>
        </div>
    </div>
</div>

<h2>Code</h2>
<h3>HTML</h3>
<p>The basic setup is simple, for evenly-spaced columns add instances of <code>aui-item</code> inside one instance of <code>aui-group</code>:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-group">
            <div class="aui-item">
                Your content here
            </div>
            <div class="aui-item">
                Your content here
            </div>
        </div>
    </noscript>
</aui-docs-example>

<h2>Implementation tips</h2>
<ul>
    <li>Add an aui-group for each discrete group of content - by default, they behave as rows.</li>
    <li>Add as many aui-item elements to each group as you want - by default, they behave as columns.</li>
    <li>Do not style the groups and items directly - treat them strictly as containers to divide up areas of the page (see notes below).</li>
</ul>
<p>Setting item widths:</p>
<ul>
    <li>By default, items will be distributed evenly. Add two, they'll be 50% each; add four, 25% each; etc.</li>
    <li>If you set one item to a fixed width, the remaining items will divide the remaining space evenly amongst themselves.</li>
    <li>For simple groups, we recommend using a class on the aui-group, with first- last- and nth-child selectors.</li>
</ul>

<h2>Options</h2>
<p>There are two preset helpers for common two- and three-column layouts. They are invoked by setting the class on the <code>aui-group</code> and using the required number of items.</p>
<table class="aui">
    <thead>
        <tr>
            <th>Preset</th>
            <th>Group class</th>
            <th>Number of items</th>
            <th>Effect</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Split group</td>
            <td><code>aui-group-split</code>
            </td>
            <td>2</td>
            <td>First column is aligned left, second column is aligned right.</td>
        </tr>
        <tr>
            <td>Trio group</td>
            <td><code>aui-group-trio</code>
            </td>
            <td>3</td>
            <td>First column is aligned left, middle column is center-aligned, third/last column is aligned right.</td>
        </tr>
    </tbody>
</table>
