---
component: Lozenges
analytics:
  pageCategory: component
  component: lozenge
design: https://design.atlassian.com/latest/product/components/lozenges/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-lozenge
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>Coloured text lozenge, primarily for displaying status. Available in a standard and subtle variations.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <p>
        <span class="aui-lozenge">default</span>
        <span class="aui-lozenge aui-lozenge-success">success</span>
        <span class="aui-lozenge aui-lozenge-error">error</span>
        <span class="aui-lozenge aui-lozenge-current">current</span>
        <span class="aui-lozenge aui-lozenge-new">new</span>
        <span class="aui-lozenge aui-lozenge-moved">moved</span>
    </p>
    <p>
        <span class="aui-lozenge aui-lozenge-subtle">default</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">success</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">error</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-current">current</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-new">new</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-moved">moved</span>
    </p>
</article>

<h2>Code</h2>
<h3>HTML</h3>
<p>Markup is simply a span with base class and type class:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-lozenge aui-lozenge-success">Success</span>
    </noscript>
</aui-docs-example>

<h2>Options</h2>
<table class="aui">
    <thead>
        <tr>
            <th>Lozenge type</th>
            <th>Lozenge type class</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Generic</td>
            <td>(no type class)</td>
        </tr>
        <tr>
            <td>Success</td>
            <td><code>aui-lozenge-success</code>
            </td>
        </tr>
        <tr>
            <td>Error</td>
            <td><code>aui-lozenge-error</code>
            </td>
        </tr>
        <tr>
            <td>Current</td>
            <td><code>aui-lozenge-current</code>
            </td>
        </tr>
        <tr>
            <td>Complete</td>
            <td><code>aui-lozenge-complete</code>
            </td>
        </tr>
        <tr>
            <td>New</td>
            <td><code>aui-lozenge-new</code>
            </td>
        </tr>
        <tr>
            <td>Moved</td>
            <td><code>aui-lozenge-moved</code>
            </td>
        </tr>
    </tbody>
</table>

<h3>HTML options</h3>
<p>To use the subtle variant, simply add the class <code>aui-lozenge-subtle</code> as well as the type class.</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">Success</span>
    </noscript>
</aui-docs-example>
