---
component: Spinner
analytics:
  pageCategory: component
  component: spinner
design: https://design.atlassian.com/latest/product/components/progress-indicators/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-spinner
  amd: false
  experimentalSince: 5.1
  generalSince: 5.8
  webComponentSince: 7.7
---

<h2>Summary</h2>
<p>Spinners are used for showing a system process of unknown length going on that ends with the system displaying results to the user.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<h3>Normal spinner</h3>
<p>AUI's spinner is just an HTML element. Add it to wherever you need to indicate progress is being made.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <h5>Small spinner</h5>
        <aui-spinner size="small"></aui-spinner>

        <h5>Medium spinner</h5>
        <aui-spinner size="medium"></aui-spinner>

        <h5>Large spinner</h5>
        <aui-spinner size="large"></aui-spinner>
    </noscript>
</aui-docs-example>

<h3>Filled spinner</h3>
<p>
    If you need a spinner to fit in the middle of a containing element,
    add a <code>filled</code> attribute to the spinner element.
</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <style>
            .aui-test-spinner-container {
                width: 120px;
                height: 100px;
                margin: 10px;
                display: inline-block;
                border: 1px solid grey;
            }
        </style>
        <h5>Filled</h5>
        <div class="aui-test-spinner-container">
            <aui-spinner size="small" filled></aui-spinner>
        </div>
        <div class="aui-test-spinner-container">
            <aui-spinner size="medium" filled></aui-spinner>
        </div>
        <div class="aui-test-spinner-container">
            <aui-spinner size="large" filled></aui-spinner>
        </div>

        <h5>Not Filled</h5>
        <div class="aui-test-spinner-container">
            <aui-spinner></aui-spinner>
        </div>
    </noscript>
</aui-docs-example>

<h3>Spinners in buttons</h3>
<p>You can add a spinner to an AUI Button by setting the button's <code>busy</code> property to <code>true</code>.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="button-spin-1">Do Something</button>
        <button class="aui-button aui-button-primary" id="button-spin-2">Do Something</button>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            AJS.$('#button-spin-1, #button-spin-2').click(function() {
                if (!this.isBusy()) {
                    this.setAttribute('aria-disabled', 'true');
                    this.busy();

                    var that = this;
                    setTimeout(function() {
                        that.setAttribute('aria-disabled', 'false');
                        that.idle();
                    }, 2000);
                }
            });
        });
    </noscript>
</aui-docs-example>

<h2>HTML API</h2>

<table class="aui">
    <caption><aui-docs-component>aui-spinner</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th>Default</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="no-wrap"><code>size</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Enum</td>
        <td><code>medium</code></td>
        <td>
            An Enum which provides size of the spinner.
            <br>
            Possible values are: <code>small</code>(20px), <code>medium</code>(30px) and <code>large</code>(50px).
        </td>
    </tr>
    <tr>
        <td><code>filled</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td><code>false</code></td>
        <td>
            A Boolean which changes behavior of the spinner.
            <br>
            When present, the spinner element will be placed in the middle of the parent element and have a width and height of zero.
        </td>
    </tr>
    </tbody>
</table>

<h2>JavaScript API <span class="aui-lozenge aui-lozenge-error">Deprecated</span></h2>
<p>There are two jQuery functions available you can call on an element to add and remove a filled spinner.</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="spinner-trigger">Do Something</button>
        <span class="button-spinner" style="display: inline-block; height: 10px; width: 20px"></span>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            var spinning = false;
            AJS.$('#spinner-trigger').on('click', function() {
                if (!spinning) {
                    AJS.$(this).text('Stop Spinning!');
                    AJS.$('.button-spinner').spin();
                    spinning = true;
                } else {
                    AJS.$(this).text('Do Something');
                    AJS.$('.button-spinner').spinStop();
                    spinning = false;
                }
            });
        });
    </noscript>
</aui-docs-example>

<p>Calling <code>AJS.$(element).spin()</code> will append the following spinner to <code>element</code>:</p>
<noscript is="aui-docs-code" type="text/html">
    <aui-spinner size="small" filled></aui-spinner>
</noscript>

<p>Calling <code>AJS.$(element).spinStop()</code> will remove the spinner element.</p>
