<nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner" id="left-navigation">
        <div class="aui-nav-heading">
            <strong>Web components</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/aui-label.html" class="docs-nav-link" id="aui-label-link">AUI Label <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
            <li><a href="{{rootPath}}docs/badges.html" class="docs-nav-link" id="badges-link">Badges</a></li>
            <li><a href="{{rootPath}}docs/dropdown.html" class="docs-nav-link" id="dropdown-link">Dropdown</a></li>
            <li><a href="{{rootPath}}docs/inline-dialog.html" class="docs-nav-link" id="inline-dialog-link">Inline dialog</a></li>
            <li><a href="{{rootPath}}docs/progress-indicator.html" class="docs-nav-link" id="progress-indicator-link">Progress indicator</a></li>
            <li><a href="{{rootPath}}docs/single-select.html" class="docs-nav-link" id="single-select-link">Single select</a></li>
            <li><a href="{{rootPath}}docs/spinner.html" class="docs-nav-link" id="spinner-link">Spinner</a></li>
            <li><a href="{{rootPath}}docs/toggle-button.html" class="docs-nav-link" id="toggle-button-link">Toggle Button</a></li>
        </ul>
        <div class="aui-nav-heading">
            <strong>Other components</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/auiselect2.html" class="docs-nav-link" id="auiselect2-link">AUI Select2</a></li>
            <li><a href="{{rootPath}}docs/avatars.html" class="docs-nav-link" id="avatars-link">Avatars</a></li>
            <li><a href="{{rootPath}}docs/banner.html" class="docs-nav-link" id="banner-link">Banners</a></li>
            <li><a href="{{rootPath}}docs/buttons.html" class="docs-nav-link" id="buttons-link">Buttons</a></li>
            <li><a href="{{rootPath}}docs/date-picker.html" class="docs-nav-link" id="date-picker-link">Date picker</a></li>
            <li><a href="{{rootPath}}docs/dialog2.html" class="docs-nav-link" id="dialog2-link">Dialog 2</a></li>
            <li><a href="{{rootPath}}docs/expander.html" class="docs-nav-link" id="expander-link">Expander</a></li>
            <li><a href="{{rootPath}}docs/flag.html" class="docs-nav-link" id="flag-link">Flag</a></li>
            <li><a href="{{rootPath}}docs/forms.html" class="docs-nav-link" id="forms-link">Forms</a></li>
            <li><a href="{{rootPath}}docs/form-notification.html" class="docs-nav-link" id="form-notification-link">Form notification <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
            <li><a href="{{rootPath}}docs/form-validation.html" class="docs-nav-link" id="form-validation-link">Form validation <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
            <li><a href="{{rootPath}}docs/icons.html" class="docs-nav-link" id="icons-link">Icons</a></li>
            <li><a href="{{rootPath}}docs/in-product-help.html" class="docs-nav-link" id="in-product-help-link">In-product help</a></li>
            <li><a href="{{rootPath}}docs/labels.html" class="docs-nav-link" id="labels-link">Labels</a></li>
            <li><a href="{{rootPath}}docs/lozenges.html" class="docs-nav-link" id="lozenges-link">Lozenges</a></li>
            <li><a href="{{rootPath}}docs/messages.html" class="docs-nav-link" id="messages-link">Messages</a></li>
            <li><a href="{{rootPath}}docs/progress-tracker.html" class="docs-nav-link" id="progress-tracker-link">Progress tracker</a></li>
            <li><a href="{{rootPath}}docs/restful-table.html" class="docs-nav-link" id="restful-table-link">RESTful table</a></li>
            <li><a href="{{rootPath}}docs/sortable-table.html" class="docs-nav-link" id="sortable-table-link">Sortable table</a></li>
            <li><a href="{{rootPath}}docs/tables.html" class="docs-nav-link" id="tables-link">Tables</a></li>
            <li><a href="{{rootPath}}docs/tabs.html" class="docs-nav-link" id="tabs-link">Tabs</a></li>
            <li><a href="{{rootPath}}docs/toolbar2.html" class="docs-nav-link" id="toolbar2-link">Toolbar 2</a></li>
            <li><a href="{{rootPath}}docs/tooltips.html" class="docs-nav-link" id="tooltips-link">Tooltips</a></li>
            <li><a href="{{rootPath}}docs/trigger.html" class="docs-nav-link" id="trigger-link">Trigger</a></li>
        </ul>
        <div class="aui-nav-heading">
            <strong>Content structure</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/typography.html" class="docs-nav-link" id="typography-link">Typography</a></li>
            <li><a href="{{rootPath}}docs/hidden-assistive-css.html" class="docs-nav-link" id="hidden-assistive-css-link">Hidden and assistive CSS</a></li>
        </ul>
        <div class="aui-nav-heading">
            <strong>Page layouts</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/app-header.html" class="docs-nav-link" id="header-link">Application header</a></li>
            <li><a href="{{rootPath}}docs/layout.html" class="docs-nav-link" id="layout-link">Layout</a></li>
            <li><a href="{{rootPath}}docs/navigation.html" class="docs-nav-link" id="navigation-link">Navigation</a></li>
            <li><a href="{{rootPath}}docs/page.html" class="docs-nav-link" id="page-link">Page</a></li>
            <li><a href="{{rootPath}}docs/page-content-layout.html" class="docs-nav-link" id="page-content-layout-link">Page content layout</a></li>
            <li><a href="{{rootPath}}docs/page-header.html" class="docs-nav-link" id="page-header-link">Page header</a></li>
            <li><a href="{{rootPath}}docs/sidebar.html" class="docs-nav-link" id="sidebar-link">Sidebar</a></li>
            <li><a href="{{rootPath}}docs/system-notifications.html" class="docs-nav-link" id="system-notifications-link">System Notifications</a></li>
        </ul>
        <div class="aui-nav-heading">
            <strong>AUI resources</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/helper.html" class="docs-nav-link" id="helper-link">Helper functions</a></li>
            <li><a href="{{rootPath}}docs/keyboard-shortcuts.html" class="docs-nav-link" id="keyboard-link">Keyboard shortcuts</a></li>
            <li><a href="{{rootPath}}docs/soy.html" class="docs-nav-link" id="soy-link">Soy <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
            <li><a href="{{rootPath}}docs/template.html" class="docs-nav-link" id="template-link">Template</a></li>
        </ul>
        <div class="aui-nav-heading">
            <strong>Deprecated components</strong>
        </div>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/dialog.html" class="docs-nav-link" id="dialog-link">Dialog 1</a></li>
            <li><a href="{{rootPath}}docs/dropdown2.html" class="docs-nav-link" id="dropdown2-link">Dropdown 2</a></li>
            <li><a href="{{rootPath}}docs/inline-dialog-deprecated.html" class="docs-nav-link" id="inline-dialog-link">Inline dialog 1</a></li>
        </ul>
    </div>
</nav>
